body, button, div, input, select {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}

.dashboard{
	padding-left: 20px;
	height: 50px;
}

.dashboard > div:first-child{
	float: left;
	line-height: 1.9;
	padding-right: 10px;
}

.dashboard > select:nth-child(2){
	margin-right: 30px;
}

